*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.navbar{
    height: 100vh;
    width: 100%;
    background-image: url(/asstes/IMG-20210314-WA0031-02.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */

    
}
@font-face {
    font-family: myFirstFont;
    src: url(/asstes/Azonix.otf);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    position: sticky;
    top: 0;

}
.logo{
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: red;

}
nav ul li{
    display: inline-block;
    list-style-type: none;
    font-family: myFirstFont;
    padding: 10px 25px  ;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: larger;
}

nav ul li a:hover{
    color: red;
    transition: .4s;
}

.btn{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transform: .9s;
    
}
.btn:hover{
    transform: scale(1.2);

}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    font-size: 60px;
}
h3 span{
    color: red;
    margin: 20px 0px 20px;
    font-size: 55px;


}
h3{
    color: white;
    font-size: 40px;
    margin-bottom: 4px;
}
h4{
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}

.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;

}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px ;
    border: 2px solid red ;
    outline: none;
    border-radius: 30px;
    font-size: larger;

}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: red;
    border-radius: 30px;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 10px;
    right: 9px;
}
.main{
    width: 100%;
    height: 100vh;
}

.about{
    width: 100%;
    padding: 100px 0px;
    display: flex;
    background-color: rgb(3, 3, 3);
}
.about img{
    height: auto;
    width: 400px;
}


.about-text{
    width: 550px;

}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text h2{
    color: white;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;

}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 40px;
}

button{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}
